
.vagrant/
node_modules
.jiramulerc
.DS_Store
.AppleDouble
.LSOverride
Icon
*.sw[a-z]
# Files that might appear on external disk
.Spotlight-V100
.Trashes
.env
tags
*npm-debug.log
coverage/
docs/
.eslintcache
**/.murano
insights/examples/murano-try/
.venv/
